/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
app/Http/Controllers/Admin/API/ApiServiceController.php
app/Http/Controllers/Admin/ServiceController.php
app/Models/ImageService.php
database/migrations/2023_09_25_160726_create_image_services_table.php
database/seeders/DatabaseSeeder.php
resources/views/admin/base/table.blade.php
resources/views/admin/layout/partials/sidebar.blade.php
resources/views/admin/service/index.blade.php
routes/web.php

