.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}


.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-center {
    text-align: center;
}

.py-0\.5 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.rounded {
    border-radius: 0.25rem;
}

.w-24 {
    width: 6rem;
}

.mr-1\.5 {
    margin-right: 0.375rem;
}

.px-2\.5 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.w-full {
    width: 100%;
}

.px-2\.5 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.rounded {
    border-radius: 0.25rem;
}

.cursor-pointer {
    cursor: pointer;
}

.main-screen .box-time .swiper-wrapper {
    align-items: flex-end;
}

.main-screen .box-time .box-time_gr {
    width: 100%;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
    transform: translateZ(0);
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.h-11 {
    height: 2.75rem;
}

.flex {
    display: flex;
}

.bg-f7f7f7 {
    background-color: #f7f7f7;
}

.item-center {
    align-items: center;
}

.flex {
    display: flex;
}

.flex {
    display: flex;
}

.item-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}


.rounded {
    border-radius: 0.25rem;
}

.cursor-pointer {
    cursor: pointer;
}

.h-11 {
    height: 2.75rem;
}

.flex {
    display: flex;
}


.fix-hed{
    width: 100%;
    height: 100px;
    background: #14100D;
}
.section-padding{
    padding: 25px 0!important;
    background: #f5eee7 !important;
}

.anticon {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.booking-service__input {
    font-size: 13px;
    padding-left: 0;
    height: 48px;
    border: none;
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .18);
    border-radius: 12px;
    line-height: 24px;
}

.ant-input:placeholder-shown {
    text-overflow: ellipsis;
}

[role=button],
a,
area,
button,
input:not([type=range]),
label,
select,
summary,
textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

input[type=number],
input[type=password],
input[type=text],
textarea {
    -webkit-appearance: none;
}

.ant-input-lg {
    padding: 6.5px 11px;
    font-size: 16px;
}

.ant-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    -webkit-font-feature-settings: "tnum";
    font-feature-settings: "tnum", "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.py-2\.5 {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}


.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.mt-2\.5 {
    margin-top: 0.625rem;
}

.gap-4 {
    gap: 1rem;
}

.grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid {
    display: grid;
}
.booking-service .service__list .list__item {
    border: 1px solid #d1d1d1;
    border-radius: 6px;
    overflow: hidden;
    max-width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
/*-----------------------------------------------------------------*/
.font-semibold {
    font-weight: 600;
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.pb-6 {
    padding-bottom: 1.5rem;
}
.font-semibold {
    font-weight: 600;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.font-normal {
    font-weight: 400;
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.jqr-booking-done{
    border-top: 5px solid #f5eee7;
}
.jqr-text{
    color: #11B14B;
}
.jqr-css{
    margin: 0 8px 8px;
    border-radius: 3px;
    color: #000000;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
    transition: all .3s;
    cursor: pointer;
}
.jqr-clickService{
    background: #e8e8e8;
}
.box_time_item{
    background: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 8px;
    cursor: pointer;
    font-weight: 600;
}
.jqr-completed{
    height: 48px;
    width: 100%;
    border-radius: 6px;
    background: #e8e8e8;
    color: #464646;
    padding: 5px 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-family: segoe ui,Helvetica,Arial,sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
/*-----------------------------------------------------------------*/
.switch {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    width: 53px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 27px;
    width: 27px;
    left: 0px;
    bottom: -3px;
    box-shadow: 0px 0px 10px -4px;
    background-color: #e8e8e8;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: rgba(145, 118, 90, 0.68);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: rgb(145, 118, 90);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.is_height{
    height: 35px;
}
